<library path="src">
  <class name="BehaveViewer" type="behave_viewer.rqt.BehaveViewer" base_class_type="rqt_gui_py::Plugin">
    <description>
      Viewer for the behavior_trees metapackage
    </description>
    <qtgui>
      <group>
        <label>Visualization</label>
        <icon type="theme">folder</icon>
        <statustip>Plugins related to visualization.</statustip>
      </group>
      <label>Behavior Tree</label>
      <icon type="theme">preferences-system-network</icon>
      <statustip>A Python GUI plugin for visualizing Behavior Trees</statustip>
    </qtgui>
  </class>
</library>
